{% extends "CtjRegisterBundle::layout.html.twig" %}

{% block title %}
liste - {{ parent() }}
{% endblock %}

{% block ctjregister_body %}

<div id="gallery" data-target="#modal-gallery" data-toggle="modal-gallery" >
    <ul>
    {% for jeu in jeux %}
    <li class="span2">
        <a href="http://localhost/Symfony2.1/web/uploads/image/{{ jeu.path }}" title="{{jeu.titre}}" rel="gallery" ><img src="http://localhost/Symfony2.1/web/uploads/image/{{ jeu.path }}"/></a>
        <form action="{{ path('ctj_register_adm',{'id':jeu.id}) }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }} 
        <input type="submit" class="btn btn-info btn-mini" value="suppression de {{ jeu.titre }}"/>     
         <a class="btn btn-info btn-mini" href="{{path('ctj_register_edit',{'id':jeu.id})}}">éditer</a>
        </form>
    </li>
    {% endfor %}
    </ul>
</div>
<div class="pagination">
     <ul>
     {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
     {% for a in alphabet %}
     <li class="pagination">
     <a  href="{{ path('ctj_register_adm', {'page': a}) }}">{{ a }}</a>
     </li>
     </li>
     {% endfor %}
     </ul>
    </div>
    

{% endblock %}

